body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

* {
    border-radius: 0 !important;
}

img {
    max-width: 100%;
    height: auto;
}

#main {
    margin-bottom: 100px;
}

/***********************
       Typography 
************************/

p {
    font-weight: 400;
    font-size: 18px;
}

/***********************
       Toggle Ignore Probably
************************/
/* 
.menu-toggle{
    cursor: pointer;
    width: 55px;
    z-index: 3;
}

.menu-toggle div{
    background-color: #ccc;
    border-radius: 25px;
    box-shadow: 0px 3px 13px rgba(0,0,0,.3);
    height: 7px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.13,.24,.35,1.64);
}

.menu-toggle .one,
.menu-toggle .two{
    margin-bottom: 7px;
} */


/***********************
       Navigation 
************************/

.navbar-nav {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

#transparent-nav.bg-light {
    background-color: transparent !important;
}

/* Dark Nav */

.bg-dark {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.fa::before {
	float: left;
	margin-top: 8px;
	width: 30px;
}

/* Make bg black on open */
.black-bg {
    background: #000!important;
}

#transparent-nav.bg-light.black-bg {
    background: #000!important;
}

.navbar-toggler-icon {
	background: none !important;
}

.navbar-toggler {
	border: none;
}

i.fas.fa-bars {
    color: #fff;
    line-height: 1.5;
}

.navbar-light .navbar-nav .active > .nav-link {
	color: #fff;
	font-weight: 400;	
}

.navbar-nav .active > .nav-link {
	color: #fff;
	font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #ddd;
}

i.fa.fa-search {
    color: #000;
}

/***********************
      Main Content  
************************/
h2.main-heading {
    text-transform: uppercase;
    padding: 40px 0;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

/***********************
       Footer  
************************/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    background: #f2f2f2;
    height: 50px;
    line-height: 50px;
    color: #000;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 300;
}

.footer p {
    margin-bottom: 0;
    font-size: 20px;
}


/***********************
       Sub Page Hero  
************************/

#subpage-hero {
    background: url(./subpage-hero.jpg) no-repeat center;
    background-size: cover;
    text-transform: uppercase;
    color: #fff;
    padding: 90px 0 20px 0;
    margin-top: -56px;
}

#subpage-hero h1 {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 10px;
    text-transform: uppercase;	 
}

#subpage-hero p {
  font-weight: 500;
  letter-spacing: 4px;
  font-size:12px;	
}

/***********************
       Responsive? 
************************/
@media (max-width: 1199.98px) { 
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important; }
  .text-sm-right {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; } }

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }
  .text-md-right {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; } }

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important; }
  .text-xl-right {
    text-align: right !important; }
  .text-xl-center {
    text-align: center !important; } }
    
/***********************
       Carousel Please Work
************************/
/* 
.carousel_wrapper {
    overflow: hidden;
    width: 90%;
    margin: auto;
  }
  
  .carousel_wrapper * {
    box-sizing: border-box;
  }
  
  /* Using the 'transform' property to move the carousel's items, so setting the 'transform-style' to 'preserve-3d' will nest elements so they render properly in the 3D space. */
  /* .carousel {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  } */
  
  /* By default we're hiding items (except the initial one) until the JS initiates. Elements are absolutely positioned with a width of 100% (as we're styling for mobile first), letting the content's height dictate the height of the carousel. Our magic property here for all our animation needs is 'transition', taking the properties we wish to animate 'transform' and 'opacity', along with the length of time in seconds. */
  /* .photo {
    opacity: 0;
    position: absolute;
    top:0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
  } */
  
  /* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
  /* .photo.initial,
  .photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
  } */
  
  /* Set 'z-index' to sit behind our '.active' item. */
  /* .photo.prev,
  .photo.next {
    z-index: 800;
  } */
  
  /* Translate previous item to the left */
  /* .photo.prev {
    transform: translateX(-100%);
  } */
  
  /* Translate next item to the right */
  /* .photo.next {
    transform: translateX(100%);
  } */
  
  /* Style navigation buttons */
  /* .car_button--prev,
  .car_button--next {
    position: absolute;
    top:50%;
    width: 3rem;
    height: 3rem;
    background-color: #FFF;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer; 
    z-index: 1001; Sit on top of everything */
    /* border:1px solid black; */
  /*  opacity: 0;  Hide buttons until carousel is initialised 
    transition:opacity 1s;*/
  /* }
  
  .car_button--prev {
    left:0;
  }
  
  .car_button--next {
    right:0;
  } */
  
  /* Use pseudo elements to insert arrows inside of navigation buttons */
  /* .car_button--prev::after,
  .car_button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
  } */
/*   
  .car_button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
  } */

  .carousel {
    position:relative;
    height:600px;
    width: 80%;
    margin: 0 auto;
  }

  .carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel__track-container {
    background: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
  }

  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  .carousel__button--left {
    left: -20px;
  }

  .carousel__button--right {
    right: -20px;
  }

  .carousel__button img {
    width: 10px;
  }

  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .carousel__indicator {
    border: 0;
    border-radius: 0%;
    width: 20px;
    height: 20px;
    background: rgb(3, 3, 53);
    margin: 0 10px;
  }

  .carousel__indicator.current-slide {
    background: white;
  }